<!DOCTYPE html>

<html>
  <head>
    <title>Update Scores</title>
  </head>

  <body>

    <form method = "post">

      berkeley<input type="text" name="berkeley" value = "" /> <br>
      branford<input type="text" name="branford" value = "" /> <br>
      calhoun<input type="text" name="calhoun" value = "" /> <br>
      davenport<input type="text" name="davenport" value = "" /> <br>
      erzastiles<input type="text" name="erzastiles" value = "" /> <br>
      johnathanedwards<input type="text" name="johnathanedwards" value = "" /> <br>
      morse<input type="text" name="morse" value = "" /> <br>
      pierson<input type="text" name="pierson" value = "" /> <br>
      saybrook<input type="text" name="saybrook" value = "" /> <br>
      silliman<input type="text" name="silliman" value = "" /> <br>
      timothydwight<input type="text" name="timothydwight" value = "" /> <br>
      trumbull<input type="text" name="trumbull" value = "" /> <br>

      <input type="submit"  value="enter"/>

    </form>

  </body>
<html>