<!DOCTYPE html>

<html>
  <head>
    <title>Update Scores</title>
  </head>

  <body>

    <form method = "post">

      team 1<input type="text" name="team1" value = "" /> <br>
      team 2<input type="text" name="team2" value = "" /> <br>
      month<input type="text" name="month" value = "" /> <br>
      day<input type="text" name="day" value = "" /> <br>
      hour<input type="text" name="hour" value = "" /> <br>
      minutes<input type="text" name="minutes" value = "" /> <br>
      sport<input type="text" name="sport" value = "" /> <br>
      location<input type="text" name="location" value = "" /> <br>

      <input type="submit"  value="enter"/>

    </form>

  </body>
<html>