<!DOCTYPE html>

<html>
  <head>
    <title>Update Teams</title>
  </head>

  <body>

    <form method = "post">

      College<input type="text" name="college" value = "" /> <br>
      Sport<input type="text" name="sport" value = "" /> <br>
      Email<input type="text" name="email" value = "" /> <br>
      Wins<input type="text" name="wins" value = "" /> <br>
      Losses<input type="text" name="losses" value = "" /> <br>

      <input type="submit"  value="enter"/>

    </form>

  </body>
<html>