<!DOCTYPE html>

<html>
  <head>
    <title>Update Matches</title>
  </head>

  <body>

    <form method = "post">

      College 1
      <select name="team1">
        <option value = "berkeley">Berkeley</option>
        <option value = "branford">Branford</option>
        <option value = "calhoun">Calhoun</option>
        <option value = "davenport">Davenport</option>
        <option value = "erzastiles">Erza Stiles</option>
        <option value = "johnathanedwards">Johnathan Edwards</option>
        <option value = "morse">Morse</option>
        <option value = "pierson">Pierson</option>
        <option value = "saybrook">Saybrook</option>
        <option value = "silliman">Silliman</option>
        <option value = "timothydwight">Timothy Dwight</option>
        <option value = "trumbull">Trumbull</option>
      </select> </br>

      College 2
      <select name="team2">
        <option value = "berkeley">Berkeley</option>
        <option value = "branford">Branford</option>
        <option value = "calhoun">Calhoun</option>
        <option value = "davenport">Davenport</option>
        <option value = "erzastiles">Erza Stiles</option>
        <option value = "johnathanedwards">Johnathan Edwards</option>
        <option value = "morse">Morse</option>
        <option value = "pierson">Pierson</option>
        <option value = "saybrook">Saybrook</option>
        <option value = "silliman">Silliman</option>
        <option value = "timothydwight">Timothy Dwight</option>
        <option value = "trumbull">Trumbull</option>
      </select> </br>

      <!--
      year<input type="text" name="year" value = "" /> <br>
      month<input type="text" name="month" value = "" /> <br>
      day<input type="text" name="day" value = "" /> <br>
      hour<input type="text" name="hour" value = "" /> <br>
      minutes<input type="text" name="minutes" value = "" /> <br>
    -->
      
      Date and Time
      date<input type="datetime-local" name = "date" /> <br>

      Sport
      <select name="sport">
        <option value="Badminton - Coed">Badminton - Coed</option>
        <option value="Basketball - Men A">Basketball - Men A</option>
        <option value="Basketball - Men B">Basketball - Men B</option>
        <option value="Basketball - Women">Basketball - Women</option>
        <option value="Basketball - Coed">Basketball - Coed</option>
        <option value="Billiards - Coed">Billiards - Coed</option>
        <option value="Bowling - Coed">Bowling - Coed</option>
        <option value="Cross Country Men">Cross Country Men</option>
        <option value="Cross Country Women">Cross Country Women</option>
        <option value="Dodgeball - Coed">Dodgeball - Coed</option>
        <option value="Football - Men">Football - Men</option>
        <option value="Football - Coed ">Football - Coed</option>
        <option value="Golf - Coed ">Golf - Coed</option>
        <option value="Golf: B.I - Coed">Golf: B.I - Coed</option>
        <option value="Ice Hockey - Coed">Ice Hockey - Coed</option>
        <option value="Soccer - Coed">Soccer - Coed</option>
        <option value="Soccer - Men">Soccer - Men</option>
        <option value="Soccer - Women">Soccer - Women</option>
        <option value="Softball - Coed">Softball - Coed</option>
        <option value="Squash - Men">Squash - Men</option>
        <option value="Squash - Women">Squash - Women</option>
        <option value="Swimming - Coed">Swimming - Coed</option>
        <option value="Tennis - Coed">Tennis - Coed</option>
        <option value="Ping Ping - Coed">Ping Ping - Coed</option>
        <option value="Ultimate - Coed">Ultimate - Coed</option>
        <option value="Volleyball - Men">Volleyball - Men</option>
        <option value="Volleyball - Women">Volleyball - Women</option>
        <option value="Volleyball - Coed">Volleyball - Coed</option>
        <option value="Waterpolo - Coed">Waterpolo - Coed</option>
      </select> <br>

      Location
      <input type="text" name="location" value = "" /> <br>

      <input type="submit"  value="enter"/>

    </form>

  </body>
<html>